.book{
    padding: 0% 5px 5px 5px;
    margin: 3%;
    transition: 0.1s;
    border-radius: 2%;
    background: white;
}
.book:hover{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.19)
}
.book_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title_book{
    font-size: 14px;
    font-weight: 190;
    overflow: hidden;
}

.image_book{
    width: 100%;
    margin-top: 5px;
}
.price-info{
    display: flex;
    flex-direction: column;
}
.original-price{
    display: block;
    margin-left: 0px;
    color: rgb(120, 120, 120) !important; 
    font-size: 13px;
    font-weight: 300;
}
.price{
    color: rgb(36, 36, 36);
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
}

.discount{
    position: absolute;
    padding: 2%;
    font-size: 0.9vw;
    color:#F3F7F7;
    background-color: #FF4E58 ;
    border: tomato;
    text-align: center;
    border-radius: 0% 0% 250% 250%;
}

.favorite_icon{
    background-color: red;
}
